<!-- <ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="volver"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header titulo="Alert"></app-header>

<ion-content>

<ion-button (click)="presentAlert()" expand="block">
  Alerta
</ion-button>

<ion-button (click)="presentAlertMultipleButtons()" expand="block">
  Alerta multi
</ion-button>

<ion-button (click)="presentAlertPrompt()" expand="block">
  Alerta Prompt
</ion-button>

</ion-content>
